*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: black;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
}

body {
  margin: 0;
  padding: 8vw;
}

#homepage {
  display: grid;
}

#homepage__greeting {
  font-size: clamp(2rem, 8vw, 3rem);
  margin: 0 0 1.5rem;
}

#menu__portfolio {
  display: flex;
  justify-content: space-between;
}

#menu__contact {
  display: flex;
  padding: 2rem 0;
  gap: 1rem;
  justify-content: space-between;
}

@media (min-width: 640px) {
  body {
    padding: 10%;
  }

  #menu__contact {
    padding: 10% 0;
  }
}
